@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor
@inject NavigationManager Navigation

<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="Budget Tracker" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Főoldal" Path="/" Icon="home" />

            <AuthorizeView>
                <Authorized>
                    <RadzenPanelMenuItem Text="Vezérlőpult" Path="dashboard" Icon="dashboard" />
                    <RadzenPanelMenuItem Text="Tranzakciók" Path="transactions" Icon="list" />
                    <RadzenPanelMenuItem Text="Kategóriák" Path="categories" Icon="category" />
                    <RadzenPanelMenuItem Text="Budget Beállítás" Path="budget" Icon="account_balance_wallet" />
                    <RadzenPanelMenuItem Text="Kijelentkezés" Path="logout" Icon="logout" />
                </Authorized>
                <NotAuthorized>
                    <RadzenPanelMenuItem Text="Bejelentkezés" Path="login" Icon="login" />
                    <RadzenPanelMenuItem Text="Regisztráció" Path="register" Icon="app_registration" />
                </NotAuthorized>
            </AuthorizeView>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool sidebarExpanded = true;
}