@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor

<RadzenComponents />

<div class="ambient-glow"></div>

<div style="min-height: 100vh; width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; overflow: hidden; z-index: 1; color: white;">
    <div style="width: 100%; display: flex; justify-content: center; padding: 1.5rem;">
        @Body
    </div>
</div>