@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor

<RadzenComponents />

<div style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #f5f5f5;">
    <div style="width: 100%; max-width: 500px; padding: 1rem;">
        @Body
    </div>
</div>