@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="Budget Tracker" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Főoldal" Path="/" Icon="home" />

            <AuthorizeView>
                <Authorized>
                    <RadzenPanelMenuItem Text="Vezérlőpult" Path="dashboard" Icon="dashboard" />
                    <RadzenPanelMenuItem Text="Tranzakciók" Path="transactions" Icon="list" />
                    <RadzenPanelMenuItem Text="Kategóriák" Path="categories" Icon="category" />
                    <RadzenPanelMenuItem Text="Budget Beállítás" Path="budget" Icon="account_balance_wallet" />
                    <RadzenPanelMenuItem Text="Kijelentkezés" Path="logout" Icon="logout" />
                </Authorized>
                <NotAuthorized>
                    <RadzenPanelMenuItem Text="Bejelentkezés" Path="login" Icon="login" />
                    <RadzenPanelMenuItem Text="Regisztráció" Path="register" Icon="app_registration" />
                </NotAuthorized>
            </AuthorizeView>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}